<div class="event-info clearfix">
  <img class="mainthumb thumbnail" src="<%-path%>" height="200px" width="200px" />
  <h1><%-title%></h1>
  <h4><%-event_date%> | <%-location%></h4>
  <div class="sharetools">sharing tools go here</div>
  

  <p>Description: <%-long_desc%></p>

  
</div>