<form name="media" enctype="multipart/form-data" method="POST" action="/api/media">
  <input type="hidden" name="type" value="event" />
  <input type="hidden" name="type_ent_id" value="1" />
  <input type="hidden" name="tag[]" value="cookies" />
  <input type="hidden" name="tag[]" value="cakes" />
  <input type="hidden" name="tag[]" value="pies" />
  <input type="file" name="media" />
  <input type="text" name="caption" />
  <input type="submit" name="submit" value="Upload" />
</form>