<div class="activity-stream tabbable affix">
  <ul class="nav nav-pills stream-key">
    <li class="note on active">
      <a class="note" href="#tab-note" data-toggle="tab">
        <span>News</span>
        <span class="ico"></span>
      </a>
    </li>
    <li class="tweet">
      <a class="tweet" href="#tab-tweet" data-toggle="tab">
        <span>Tweets</span>
        <span class="ico"></span>
      </a>
    </li>
    <li class="talk">
      <a class="talk" href="#tab-talk" data-toggle="tab">
        <span>Talk</span>
        <span class="ico"></span>
      </a>
    </li>
    <li class="media end">
      <a class="media" href="#tab-media" data-toggle="tab">
        <span>Media</span>
        <span class="ico"></span>
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="tab-media">
      <ul class="stream media navi"></ul>
    </div>
    <div class="tab-pane" id="tab-tweet">
      <ul class="stream tweet navi"></ul>
    </div>
    <div class="tab-pane active" id="tab-note">
      <ul class="stream note navi"></ul>
    </div>
    <div class="tab-pane" id="tab-talk">
      <ul class="stream talk navi"></ul>
    </div>
  </div>
</div>