<div class="activity-stream">
  <div class="tab-content">
    <div class="">
      <h3>Media</h3>
      <ul class="stream media navi"></ul>
    </div>
    <div class="">
      <h3>Tweets</h3>
      <ul class="stream tweet navi"></ul>
    </div>
    <div class="">
      <h3>News</h3>
      <ul class="stream note navi"></ul>
    </div>
    <div class="">
      <h3>Talk</h3>
      <ul class="stream talk navi"></ul>
    </div>
  </div>
</div>