/* ============================== */
/* ! Base Styles  */
/* ============================== */
@font-face { font-family: Cooper; src: url('../fonts/CooperBlackStd.otf'); } 

body {
  font-family: Georgia, sans-serif;
  padding:0px;
  padding-bottom:10px;  
  background-image: url('../img/bg.gif');
  background-position:0 0; background-repeat:repeat;
  background-color: #ffaf40;
}

a, a:visited{color:#000000; text-decoration:none;}

h1 {margin:0;}

input:focus, a:focus, div:focus  { 
  outline: none;
}

nav a {
  text-decoration: none;
}

nav li a:hover {
  color:#ffaf40;
  text-decoration: none;
}

nav ul {
  margin-left:0;
}

/* ==============================
   Framework styles
================================*/
.no_margin {margin:0;}
.container-edge {padding:0 20px 0 4px;}
.container {margin: 0 auto;}
.text {}
.f-left {float:left;}
.f-right {float:right;}
.bg-logo{
  background-image: url('../img/logo.png');
  background-position:right center; background-repeat:no-repeat;
  background-color: #ffffff;
  background-color: rgba(255,255,255,.85);
}

.logo-small{
  background-image: url('../img/logo_small.png');
  background-position:0 0; background-repeat:no-repeat;
  padding-left:60px;
}

.base-bg {
  background-color: #ffffff;
}

.theme-bg {
  background-color:#ffaf40;
}

.theme-fg {
  color:#ffaf40;
}

.theme-fg-dark {
  color:#e58600;
}

.rbox {
  -moz-border-radius: 6px !important;;
  -webkit-border-radius: 6px !important;;
  border-radius: 6px !important;;
}

.rbox-left {
  -moz-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -moz-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
}

.rbox-right {
  -moz-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -moz-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
}

.rbox-shadow {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #bfa165 , -2px -2px 5px #bfa165 ;
  -moz-box-shadow: 2px 2px 5px #bfa165 , -2px -2px 5px #bfa165 ;
}

.shadow {
  -moz-box-shadow: 0 2px 3px #bfa165;
  box-shadow: 0 2px 3px #bfa165;
}

.shadow2 {
  -moz-box-shadow: inset 0px 8px 6px -6px #bfa165;
  box-shadow:  inset 0px 8px 6px -6px  #bfa165;
}

.shadow3 {
  -moz-box-shadow: inset 0px -8px 6px -6px #bfa165;
  box-shadow:  inset 0px -8px 6px -6px  #bfa165;
}

.tshadow {text-shadow: 2px 2px 8px #000000; color:#ffffff;}
.border {border:2px solid #000000;}
.border-thin {border:1px solid #cccccc;}
.border-thin-dark {border:1px solid #333333;}
.btransluce {background-color: rgba(0,0,0,.70);}
.transluce {background-color: rgba(255,255,255,.70);}
.transluce2 {background-color: rgba(128,211,246,.50);}
.transluce-dark {background-color: rgba(0,0,0,.50);}
.opaque {background-color: #ffffff;}
.overhide {overflow:hidden;}
.pad {padding:10px;}
.navi {list-style: none; list-style-image: none; margin: 0; padding: 0;}

/* ==============================
  Layout wrappers
================================*/
.main {
    padding:53px 0 0 0; 
    border-bottom: 6px solid #ffaf40;
}

.banner-bg {
  background-color:#b44010; color:#fec34d;
  height:30px;
  font-size:1.5em;
  width:100%; 
  box-shadow: 0 2px 1px #bfa165 ;
  -moz-box-shadow: 2px 2px 1px #bfa165 , -2px -2px 1px #bfa165 ;
}

.banner span {}

a {outline: 0;}
