/* ===============
  Reading List 
=================*/
.dashboard {
  margin-bottom: 20px;
}

.dashboard .tab-content {


}

.dashboard .nav {
  
}

.dashboard .nav {
  margin-bottom: 10px;
}


.dashboard .nav a { 

}

.dashboard .nav a span.closepane { 
  padding-left:10px;
  font-size: 1.15em;
  font-weight: bold;
}

.dashboard .nav span.closepane:hover { 
  color:#000000;
}

.rlist-item {

}

/* ===============
  Event Info 
=================*/
.event-info {
  padding:20px;
}

.event-info .mainthumb {
  float:right;
}

.event-info ul.infolist {
  list-style: none;
}
