/*===============
  Events Slider  
=================*/
.events {position:relative; margin-top:0;}
.events .title {font-size:1.5em;}

#slide-cont {
  position: relative;
}

#slide-cont .overlay {
  position:absolute; top:0; left:0;
  height:1000px; width:100%; 
  background-color:rgba(255,255,255,.75);
  display:none;
  padding:10px;
}

ul.slider  {
  width:9000px; 
}

ul.slider li.slide-item {
  float: left; display: block;
  height:427px; width:719px; overflow:hidden;
  margin: 0 30px 0 0; padding: 0 0 0 0; position:relative;  
  background-position:0 0; background-repeat:no-repeat;
}

/*==========================
  Slide Overlay
============================*/
.slide-overlay .etitle {
  float:left;  
  padding:10px 20px 10px 10px; font-size:1.35em;
}
.slide-overlay .summary { 
  position: absolute; bottom: 0;
  padding:5px 10px 5px 10px; width:100%; line-height:150%;
  color:#FAFAFA; 
  font-size: 1.1em;
}
.slide-overlay .summary p {margin:10px 0 10px 0;}
.slide-overlay .date {
  font-size:.95em;
}

.slide-overlay .blurb {
  float:left; width:85%;
}

.slide-overlay a {
  color:#ffffff; text-decoration: none;
}

.slide-overlay a.details:hover {
  color:#ffffff;
}

.slide-overlay a.details {
  color:#cccccc;
  display: block;
  line-height: 150%;
  font-size: 1.1em; padding: 15px; margin-right:15px;
  border:1px solid #ffffff; text-align: center;
  position: absolute; right: 15px; bottom: 10px;
  border-radius: 20px;

}

.slide-overlay div.summary h1.title {
  font-size:1.5em;
}

.slide-overlay .follow {
  position:absolute; right:0; top:0;
  padding:10px; border-bottom:1px solid #000000;
  border-left:1px solid #000000;
  background-color:rgba(255,255,255,.75);
}


/* --------------------------
 Slider Indicator
--------------------------- */
#indicator-wrap {
  padding:0 5px 0 5px;
  bottom:0;
  z-index: 10000;
}
.indicator { 
  clear: both;
  overflow: hidden;
  width:100%; 
  margin-top:14px; margin-bottom:10px;
  position: relative;
}
.indicator ul {
  overflow: hidden;
  float:left; margin:0 0 0 10px;
}
.indicator ul li {
  position:relative;
  cursor:pointer;
  text-align:center;
  font-size:.85em;
  font-family:Arial, sans-serif;
  /*text-indent:-99999px;*/
  margin:3px 10px 5px 0;
  float:left;
  background-color:#ffffff;
  width:60px; height:40px;
}
.indicator ul li.active {
  border:3px solid #171AD4;
}
.indicator ul li div.thumb {
  position:absolute; bottom:0;
  height:100%; width:100%;
  z-index:1;
  background-position: center center;
}
.indicator ul li .date {
  color: #ffffff;
  text-shadow: 1px 1px 4px #000000;
  position:absolute; bottom:5px; left:5px;
  z-index:999;
  background-color: rgba(115,115,115,.70);
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding:3px;
}
.indicator .prev, .indicator .next {
  float:left;
  height:50px; width:25px;
  background-image: url('../img/icons_sprite.png');
  background-position:0 -150px; background-repeat:no-repeat;
}
.indicator .next {
  background-position:0 -150px;
}
.indicator .prev {
  background-position:-30px -150px;
}
.indicator .prev:hover {background-position:-30px -200px;}
.indicator .next:hover {background-position:0 -200px;}

.indicator .cal-link {
  float:left; font-size:2em; margin-left: 20px;
  line-height: 50px;
}


#main {
  position:relative; width: 100%; height: 570px; background-color: #ffffff;
  overflow: auto;
}