/* ==============================
   Header and head Navigation 
================================*/
header {
  font-family: "Cooper";
  width: 100%;
  margin:0 auto;
  border-bottom: 2px solid #ffaf40;
  z-index: 1060;
}

header h1.logo {
  padding:7px 0 0 10px;
  float:left;
  font-size:2.2em;
}

header nav {
    font-size:1em;
    position:relative; 
}

header nav ul {
  list-style: none;
}

header nav li.section {
  float:left; margin:0 15px 0 0;
}

header nav li.searchbox {
  float:left; padding:9px 0 0 5px;
}

header nav li.login {
  float:right;
}

header nav a.myacc {
  padding-left: 20px;
}

header nav li a, header nav li a:visited{
  color:#333333;
  text-decoration:none;
}

header nav li a:hover {
  color:#ffaf40;
}

header nav li .sec-name {
  float: left; 
  padding:17px 0 0 5px;
}

header nav li .login-link {
  line-height: 50px; margin-left: 20px;
}

header nav li .vcenter {
  padding:17px 0 0 0;
}

header nav li .img {
  display:block; float:left;
  height:50px; width:50px;
  background-image: url('../img/nav2_sprite.png');
  background-position:0 0; background-repeat:no-repeat;
}

header nav li.about .img {background-position:0 0;}
header nav li.events .img {background-position:-50px 0;}
header nav li.recipes .img {background-position:-100px 0;}
header nav li.resources .img {background-position:-150px 0;}

/*
header nav li.on.about .img{background-position:0 -60px;}
header nav li.on.events .img{background-position:-60px -60px;}
header nav li.on.recipes .img{background-position:-120px -60px;}
header nav li.on.resources .img{background-position:-180px -60px;}*/

header nav li.on a{
  color:#ffaf40;
}

.breadcrumbs {font-size:.85em;}

/* Modal Popups */
.modal {
  background-color:#ffffff;
  padding:10px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #333333;
  -moz-box-shadow: 2px 2px 5px #333333;
}