/* ==============================
   Home View
================================*/
div.wrap-home {
  padding:10px;
}

.topinfo {
  padding-bottom:10px; margin-bottom:0;
}
.topinfo  img {margin:0 15px 0 0; }
.topinfo  p {
  font-size:.75em;
}
.topinfo  h4 {margin:0;}