/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

  body {
    
  }
  
  header {margin-bottom:10px;}
  header nav {margin-top:10px; margin-bottom:10px;} 
  header nav li {margin:0 10% 0 0;}
  header nav li .label {font-size:.90em;}
  header .tagline {font-size:.8em;}

  .activity {margin-top:25px}
  .stream-key li {float:left; margin-right:10%;}
  div.activity ul.stream li .bub {display:block; margin-left:50px;}
  .events .indicator {display:none;}
  .topinfo {margin-top:10px; padding-top:10px; border-top:1px solid #cccccc;}

  ul.slider {
    height:200px;
  }
  
}