/* ==============================
   Stream Key
================================*/
.stream-key { }
.stream-key li {margin-right: 1%; width:24%; text-align: center;}
.stream-key li span {font-size:1em; color:#cccccc;}
.stream-key li a {text-decoration: none; font-family: 'Cooper';}
.stream-key li a:hover span, .stream-key li.active a span {color:#ffaf40;}
.activity-stream .nav-pills > .active > a, .activity-stream .nav-pills > .active > a:hover {
  background-color: transparent;
}

/** 
 * Stream Key Icons
 */
.stream-key li a .ico { 
  display:block; margin:0 auto 0 auto;
  height:30px; width:30px;
  background-image: url('../img/icons_sprite.png');
  background-position:0 0; background-repeat:no-repeat;
}
.stream-key li.tweet a .ico {background-position:-30px -30px;}
.stream-key li.note a .ico {background-position:-90px -30px;}
.stream-key li.talk a .ico {background-position:0 -30px;}
.stream-key li.media a .ico {background-position:-60px -30px;}

.stream-key li.tweet a:hover .ico, .stream-key li.tweet.active a .ico {background-position:-30px 0;}
.stream-key li.note a:hover .ico, .stream-key li.note.active a .ico {background-position:-90px 0;}
.stream-key li.talk a:hover .ico, .stream-key li.talk.active a .ico {background-position:0 0;}
.stream-key li.media a:hover .ico, .stream-key li.media.active a .ico {background-position:-60px 0;}

/* ==============================
   Stream listing
================================*/
.activity-stream {
  position: relative; top: -5px;
}

.activity-stream .nav-tabs {
    border-bottom: none;
}

.activity-stream ul.stream li {
  padding:15px 0 15px 0;
  margin:0 0 0 0;

  border-bottom:1px solid #cccccc;

}

.activity-stream ul.stream li a {color:#444444;}
.activity-stream ul.stream li a:hover {text-decoration:underline;}
/* Save these colors for now 
.activity-stream ul.stream li.note {background-color:#f6f1b1;}
.activity-stream ul.stream li.talk {background-color:#caf7b1;}
.activity-stream ul.stream li.tweet {background-color:#a6e9ff;}
.activity-stream ul.stream li.media {background-color:#f6ce80;}
*/


ul.stream li.note div {
  
}
