<div class="row" data-main>
  <div id="main-left" class="span8" data-main-left>
    <div class="events base-bg">
      
    </div>
  </div>
  <div id="main-right" class="span4" data-main-right>
      Suggestion Box
      <br />
      SignUp!
  </div>
</div>