<div class="row about container">
  <h4>The club started...we are constantly welcoming new members...</h4>
  <div class="fourcol">
    <img src="/public/img/viv.jpg" />
    <h2>Vivian</h2>
    <p>Vivian likes to bake</p>
  </div>
  <div class="fourcol">
    <img src="/public/img/erin.jpg" />
    <h2>Erin</h2>
    <p>Erin likes to bake</p>
  </div>
  <div class="fourcol last">
    <img src="/public/img/sig.jpg" />
    <h2>Sig</h2>
    <p>Sig likes to bake...and code</p>
  </div>
</div>
<div class="row resources">
  <div class="fourcol">
    <h2>Websites</h2>
    <a>Some websites</a>
  </div>
  <div class="fourcol">
    <h2>Apps</h2>
    <a>Some websites</a>
  </div>
  <div class="fourcol last">
    <h2>Supplies</h2>
    <a>Some websites</a>
  </div>
</div>