<div class="container">
  <div class="row">
    <div class="span3">
        <h1 class="theme-fg logo">Scrumptious</h1>
    </div>
    <div class="span9">
      <nav class="clearfix">
        <ul>
          <li class="section events on">
            <a href="/public/events">
              <span class="img"></span>
              <span class="sec-name">Events</span>
            </a>
          </li>
          <li class="login"></li>
        </ul>
      </nav>
    </div>
  </div>
</div>