<div class="row" data-main>
  <div id="main-left" class="eightcol last" data-main-left>
    <div class="events base-bg">
      
    </div>
  </div>
  <div id="main-right" class="fourcol" data-main-right>
      
  </div>
</div>