<a href="#loginModal" class="vcenter login-link">Login</a>
<div class="dropdown vcenter" style="display:none;">
  <a class="dropdown-toggle myacc" data-toggle="dropdown" href="#">My Acc<b class="caret"></b></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li><a href="#" class="">Profile</a></li>
    <li><a href="#" class="logout-link">Logout</a></li>
  </ul>
</div>
<div class="modal hide fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Login to Scrumptious</h3>
  </div>
  <div class="modal-body">
    <div class="sixcol">
      <label>Username</label><input type="text" name="username" />
      <label>Password</label><input type="password" name="password" />
    </div>
    <div class="sixcol last">
      <div class="alert alert-error" style="display:none;"></div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <a href="#" class="btn btn-primary">Login</a>
  </div>
</div>