<h4>Add a Recipe!</h4>
<form class="addrecipe" name="addrecipe">
  Name: <input type="text" name="title" /> <br /><br />
  Blurb: <input type="text" name="summary" /> <br /><br />
  Preperation Instructions: <input type="text" name="prep" /><br /><br />
  <input class="add" type="button" value="Add" />
</form>