<div class="slide-overlay">
  <div class="summary transluce-dark">
    <div class="blurb text">
        <h4><%-title%></h4>
        <p><%-short_desc%></p>
        <h5><span class="date"><%-event_date%></span> | <%-location%></h5>
    </div>
    <a href="#" class="details">Find out<br />  More ...</a>
  </div>
</div>