<div class="slide-overlay" data-overlay>
  <div event-id="<%-id%>" class="etitle"><%-title%> - <span class="date"><%-event_date%></span></div>
  <div class="summary transluce3">
    <div class="blurb text">
      <p><%-short_desc%></p>
      <p>Location: <%-location%></p>
    </div>
    <a href="#" class="details">more <br /> info <br /> ?</a>
  </div>
</div>